<!doctype html>
<html lang="en">
{{ partial "head.html" . }}

<body>
  <main>
    {{ partial "header.html" . }}
    <section>

      <ul class="posts">
        {{ range (.Paginate .Data.Pages.ByDate.Reverse).Pages }}
        <a href="{{.RelPermalink}}">
        <li style="margin-bottom: 0">
          <span>{{ .Title }}</span>
          <hr />
          <time datetime="{{ dateFormat " 2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>
        </li></a>
        <p style="margin-top: 0; color: #353535; opacity: .5">
          {{ .Summary | truncate 256 }}
        </p>
        {{ end }}
      </ul>

    </section>
    {{ partial "footer.html" . }}
  </main>
</body>

</html>
